// mixin
@import "../abstracts/mixin";
// variables
@import "../abstracts/variables";
// tipogragias
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* estilos de header */
header {
    font-family: $fuente-principal;
    @include flex;
    img {
        width: 20%;
    }
    nav {
        ul {
            list-style: none;
            @include flex;
            padding-right: 10px;
            li {
                a {
                color: $color-tipo2;
                text-decoration: none;
                font-weight: bold;
                padding: 10px;
                }
            }
        }
    }

}

/* estilos de main */
main {
    font-family: $fuente-principal;
    height: 80vh;
    @include grid (grid, 1fr, 20% 40% 30% );
    text-align: center;
    align-content: center;
    padding: 15px;
    padding-bottom: 100px;
    h1 {
        color: $color-tipo1;
        text-transform: uppercase;
        padding-top: 15px; 
    }
    p {
       color: $color-tipo1;
       line-height: 30px;
       text-align: justify;
    }
    .img-dos, .img-cinco, .img-seis {
        display: none;
    }
    div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .img-uno, .img-tres, .img-cuatro {
        grid-row: 2;
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/* Estilos para contacto.html */
.pagina-contacto {
    div {
      padding: 5%;
      align-items: center;
      form {
        color: antiquewhite;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(3, 10%) 40% 10%;
        gap: 10px 20px;
  
        input {
          grid-column: 2;
        }
      }
    }
  }

/* estilos de footer */
footer {
    font-family: $fuente-principal;
    color: $color-tipo1;
    text-align: center;
    padding: 10px;
}
