// paleta de colres

$color-principal: #0E0E0E;
$color-tipo1: antiquewhite;
$color-tipo2: #F9CB33;


// tipogragias
$fuente-principal: 'Outfit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
